.delete-news-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delete-news-form button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-news-form button:hover {
    background-color: darkorange;
  }
  